<pre>
<b>ngModel</b>: creating implist FormContorl
<b>name</b>: adding ngModel with an attrbiute name=".." enable to distigush the directive from others.
This all need to add to set template-driven approch for validation.
<b style="color:red;">require</b>: a field indicate to angular that this field is require

<b>#firstName (change)="log(firstName)"</b>: adding a template variable just to log the value of ngModel
When type name in the firstName input you can check the console about the ngModel FormControl object.    
The 'control' field is of type control.

<b>add valid validation</b>&lt;div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid"&gt;First Name is Require ..&lt;/div&gt;
this render the div if !firstName.valid and the input is 'touched'.

&lt;form&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="firstName"&gt;First Name&lt;/label&gt;
    &lt;input <b style="color:red;">require</b> <b>ngModel name="firstName"</b> #firstName (change)="log(firstName)" class="form-control" type="text" id="firstName"&gt;
    &lt;div class="alert alert-danger" <b>*ngIf="firstName.touched && !firstName.valid"</b>&gt;First Name is Require ..&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="comment"&gt;Comment&lt;/label&gt;
    &lt;textarea ngModel name="comment" id="" cols="30" rows="10" class="form-control"&gt;&lt;/textarea&gt;
  &lt;/div&gt;
  &lt;button class="btn btn-primary"&gt;Submit&lt;button&gt;
&lt;/form&gt;
</pre>
<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" class="form-control" type="text" id="firstName">
    <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is Require ..</div>

  </div>    
  <!-- <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" id="" cols="30" rows="10" class="form-control"></textarea>
  </div> -->
    <button class="btn btn-primary">Submit</button>
</form>