
To enable two communication between a component and a view.
<p></p>
<pre>
<b>Option-1: by inline in the event binding</b>
&lt;input&gt; [value]="email" (keyup.enter)="email = $event.target.value; onKeyUp($event)"/&gt;
<code>
onKeyUp() 	&#123;
  console.log("email = ", email);
&#125;
</code>    
</pre>
<pre>
<b>Option-2: using angular ngModel two way data binding</b>
&lt;input&gt; [(ngModel)]="email" (keyup.enter)="onKeyUp($event)"/&gt;
<code>
onKeyUp() 	&#123;
  console.log("email = ", email);
&#125;
</code>    
</pre>
    
<div class="row">
  <div class="col-4">    
    <p>option-1: <strong>{{ option1_data }}</strong></p>
  </div>  
  <div class="col-4">
    <p>option-2: <strong>{{ option2_data }}</strong></p>
  </div>
</div>   

<div class="row">  
  <div class="col-4">        
    <p>Two way binding by inline the (keyup.enter) event binding</p>
    option-1: <input [value]="email1" (keyup.enter)="email1 = $event.target.value; onKeyUp1()"/>
  </div>  

  <div class="col-4">
      <p>Two way binding by using angular ngModel</p>
      option-2: <input [(ngModel)]="email2" (keyup.enter)="onKeyUp2()"/>       
    </div>
</div>  


  
  