<pre>
  <b>FormControl</b>: for each input field in the form need to create intnace of FormControl class
  <b>FormGroup</b>: a group of FormControl, validation of group is validation of all FormControl in the group
  <b>Template Driven Form</b>: using angular directives to create FormContorl
  <b>Reactive Form</b>: using a code to create FormControl
</pre>
<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input class="form-control" type="text" id="firstName">
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea id="" cols="30" rows="10" class="form-control"></textarea>
  </div>
    <button class="btn btn-primary">Submit</button>
</form>