
<div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding-left: 5px; padding-bottom: 5px;">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked [routerLink]="['/http', 'mosh']" > Mosh
  </label>
</div>

<!-- <div class="row">
  <a 
    class="nav-link" 
    [routerLink]="['/forms', 'examples']" 
    style="background-color: black; color: coral; width: 80px; margin-bottom: 10px; margin-left: 15px;" 
    href="#">Examples</a>

    <a 
    class="nav-link" 
    [routerLink]="['/forms', 'services']" 
    style="background-color: black; color: coral; width: 80px; margin-bottom: 10px; margin-left: 15px;" 
    href="#">Services</a>    
</div> -->
<router-outlet></router-outlet>

<div class="row">
  <!-- this is the left column -->
  <div class="col-6" style="border-style: ridge;">  
    <!-- <hr class="hr-note"> -->    
    <p></p>
    <div class="div-note">    
      <h4>Note: Http Getting Data</h4>
      <app-http-getting-data></app-http-getting-data>    
    </div>
    <p></p>
    <!-- <hr class="hr-note"> -->
    <div class="div-note">    
      <h4>Note: Http Creating Data</h4>
      <app-http-creating-data></app-http-creating-data>
    </div> 
    <p></p> 
    <!-- <hr class="hr-note"> -->
    <div class="div-note">    
      <h4>Note: Http Updating Data</h4>
      <app-http-updating-data></app-http-updating-data>
    </div>
    <p></p>
    <div class="div-note">    
      <h4>Note: Http Deleteing Data</h4>
      <app-http-deleting-data></app-http-deleting-data>
    </div>
    <p></p>
    <!-- <hr class="hr-note"> -->
    
  </div>
  <div class="col-6" style="border-style: ridge;">
    <!-- this is the right column -->
    <!-- <hr class="hr-note"> -->
    <p></p>
    <div class="div-note">    
      <h4>Note: Http Extract Service</h4>
      <app-http-extract-service></app-http-extract-service>
    </div>  
    <p></p>
    <div class="div-note">    
      <h4>Note: Http Final Solution</h4>
      <app-http-final></app-http-final>
    </div>  
    <p></p>
    <!-- <hr class="hr-note"> -->
  </div>
</div>
