<div class="row">
  <!-- this is the left column -->
  <div class="col-6" style="border-style: ridge;">
    <hr>
    <h4>Note: Html Attribute Binind</h4>
    <app-html-attr></app-html-attr>
    <hr>
    <h4>Note: Adding bootstrap</h4>
    <app-bootstrap></app-bootstrap>
    <hr>
    <h4>Note: Class Binding</h4>
    <app-class-binding></app-class-binding>
    <hr>
    <h4>Note: Event Propagation</h4>
    <app-event-propagation></app-event-propagation>
    <hr>
    <h4>Note: Event Filtering</h4>
    <app-event-filtering></app-event-filtering>
    <hr>
    <h4>Note: Template Variables</h4>
    <app-template-variabels></app-template-variabels>
    <hr>
    <h4>Note: Using ng-conant</h4>
    <app-ng-contant>
      <div class="heading">This is The Panel Heading Coming from app-component</div>
      <div class="body">
        This is The Body Coming from app-component
        <h5>Some Body ...</h5>
      </div>
    </app-ng-contant>
    <hr>      
  </div>
  <div class="col-6" style="border-style: ridge;">
    <!-- this is the right column -->
    <hr>
    <h4>Note: Two way binding</h4>
    <app-two-way-binding></app-two-way-binding>
    <hr>
  </div>
</div>
  