<pre>
HTML-5 provide sevral directives for validation like minlegnth, maxlegth 
<b>pattern</b>: apply regular expression.
The form-control check those validations and update the firstName object.
Check the browser console for details about firstName object.

<b>Stypling</b>: see the .css file for stying the input field when error occure.

&lt;form&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="firstName"&gt;First Name&lt;/label&gt;
    &lt;input <b style="color:red;">require minlegnth="3" maxlength=10 pattern="banana" </b> <b>ngModel name="firstName"</b> #firstName (change)="log(firstName)" class="form-control" type="text" id="firstName"&gt;
    &lt;div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid"&gt;
      &lt;div *ngIf="firstName.errors.required">First name is require ..&lt;/div&gt;
        &lt;div *ngIf="firstName.errors.minlength">First name should be minimum 3 charachters&lt;/div&gt;
        &lt;div *ngIf="firstName.errors.pattern">First name doesn't match the pattern&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;button class="btn btn-primary"&gt;Submit&lt;button&gt;
&lt;/form&gt;
</pre>
<form>
<div class="form-group">
  <label for="firstName">First Name</label>
  <input ngModel name="firstName" minlegnth="3" maxlength=10 pattern="banana" #firstName="ngModel" (change)="log(firstName)" class="form-control" type="text" id="firstName">
  <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
    <div *ngIf="firstName.errors.required">First name is require ..</div>
    <div *ngIf="firstName.errors.minlength">First name should be minimum {{firstName.errors.minlength.requiredLength}} charachters</div>
    <div *ngIf="firstName.errors.pattern">First name doesn't match the pattern</div>
  </div>

</div>    
<!-- <div class="form-group">
  <label for="comment">Comment</label>
  <textarea ngModel name="comment" id="" cols="30" rows="10" class="form-control"></textarea>
</div> -->
  <button class="btn btn-primary">Submit</button>
</form>