
<div class="row">
  <!-- <a class="nav-link" [routerLink]="['/forms', 'angular']" style="background-color: black; color: coral; width: 90px;" href="#">Angular</a>
  <a class="nav-link" [routerLink]="['/forms', 'exercise']" style="background-color: black; color: coral; width: 90px;" href="#">Exercise</a> -->
  <a 
    class="nav-link" 
    [routerLink]="['/forms', 'examples']" 
    style="background-color: black; color: coral; width: 80px; margin-bottom: 10px; margin-left: 15px;" 
    href="#">Examples</a>

    <a 
    class="nav-link" 
    [routerLink]="['/forms', 'services']" 
    style="background-color: black; color: coral; width: 80px; margin-bottom: 10px; margin-left: 15px;" 
    href="#">Services</a>
    
    <button     
      color="accent" 
      (click)="openFormSimpleDialog()"
      mat-raised-button>Open Simple Dialog</button>  

</div>
<router-outlet></router-outlet>

<div class="row">
  <!-- this is the left column -->
  <div class="col-6" style="border-style: ridge;">
    <hr>
    <h4>Note: Form Basic</h4>
    <app-form-basic></app-form-basic>    
    <hr>
    <h4>Note: Using ngModel to create form control</h4>
    <app-form-ngmodel></app-form-ngmodel>
    <hr>    
    <h4>Note: Disbale the Submit Button</h4>
    <app-form-disablesubmit></app-form-disablesubmit>
    <hr>
  </div>
  <div class="col-6" style="border-style: ridge;">
    <!-- this is the right column -->
    <hr>
    <h4>Note: Form Control Validations</h4>
    <app-form-validations></app-form-validations>
    <hr>    
    <h4>Note: Using ngForm</h4>
    <app-form-ngform></app-form-ngform>
    <hr>    
    <h4>Note: Using ngModelGroup</h4>
    <app-form-ngmodelgroup></app-form-ngmodelgroup>
    <hr>        
  </div>
</div>
  