<div [hidden]="submitted">
  <h3>Exercise Form</h3>
  {{diagnostic}}
  <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">
    <div class="form-group">
      <b><label for="name">Course Name</label></b>
      <input 
        class="form-control" 
        type="text" ngModel name="courseName" 
        #spy #courseName="ngModel" 
        id="name" 
        required 
        minlength="4" 
        [(ngModel)]="name" 
        (change)="log(courseName)">
      <div class="alert alert-danger" [hidden]="courseName.valid || courseName.pristine">Course Name is required</div>
      <div class="alert alert-danger" *ngIf="courseName.errors && courseName.errors.minlength">Name minimum charachters is {{ courseName.errors.minlength.requiredLength}}</div>

      TODO: remove this: {{name}} : {{spy.className}}
    </div>

    <div class="form-group">
      <b><label for="categories">Category</label></b>
      <select class="form-control" id="categories" required ngModel name="courseCategory" #courseCategory="ngModel" [(ngModel)]="category" (change)="log(courseCategory)">
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
      TODO: remove this: {{category}}
      <div class="checkbox">
        <label>
          <input type="checkbox" ngModel name="isGuarantee" [(ngModel)]="isGuarantee">
          Check for 30 days many back guarantee
          </label>
          <p> {{courseForm.value | json }}</p>
      </div>
    </div>

    <!-- 
      *Submit*: the (type="submit") makes it the form submit button. 
      (ngSubmit)="onSubmit()" #courseForm="ngForm": this make the form accessable with in the submit button.
      [disabled]="!courseForm.form.valid": bound the overall form validation to disabled attribute.

      *New Hero*: courseForm.reset() need to ba called to reset the courseForm validator flags
      the form may remember some flags prior to new hero click so need to reset.
    -->
    <button type="submit" class="btn btn-success" style="margin-right: 10px" [disabled]="!courseForm.form.valid">Submit</button>
    <button type="button" class="btn btn-primary" style="margin-right: 10px" (click)="newCourse(); courseForm.reset()">New Course</button>
  </form>  
</div>

<div [hidden]="!submitted">
  <h3>You submitted the following:</h3>
  <div class="row" style="padding-left: 10px;">
    <div class="col-xs-3">Name: </div>
    <div class="col-xs-9  pull-left" style="color: red;">{{ name }}</div>
  </div>
  <div class="row" style="padding-left: 10px;">
    <div class="col-xs-3">Category: </div>
    <div class="col-xs-9 pull-left" style="color: red;">{{ category }}</div>
  </div>
  <div class="row" style="padding-left: 10px;">
    <div class="col-xs-3">isGuarantee: </div>
    <div class="col-xs-9 pull-left" style="color: red;">{{ isGuarantee }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>