/*.ng-valid[required], .ng-valid.required  {
  border: 2px solid #42A948; 
}

.ng-invalid:not(form)  {
  border: 2px solid #a94442; 
}
*/

/**
 * this apply to all element with classes of 
 * form-control && ng-touched && ng-invalid.
 *
 * Angular add ng-touched && ng-invalid when apply form-control.
 */
.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.alert.alert-danger {
  margin: 0px;
  /* padding: 0px; */
}