<p>Thml attribute are in most cases 1-to-1 mapping with DOM element BUT not in all cases.</p>
<p>Also the opposite, html attribute may not have DOM attribute</p>
<p>When using attribute binding we are binding into a DOM attribute (not the html).</p>
<p>So When need to targing HTML attribute need to tell Angular about it by adding 'attr.' prefix</p>
<p>For example: </p>
<pre>
  &lt;table&gt;
    &lt;tr&gt;
      &lt;td [attr.colspan]="colspan"&gt; Table Data &lt;/td&gt;
    &lt;tr&gt;
  &lt;/table&gt;
</pre>  
<table>
  <tr>
    <td [attr.colspan]="colspan">Table Data</td>
  </tr>
</table>