
Passing variables from template to component can be done in two ways
<ol>
  <li>Passing by $event</li>
  <li>Passing by #something</li>
</ol>
<b>Option-1: passing by $event</b>
<pre>
  &lt;input&gt; (keyup.enter)="onKeyUp($event)"/&gt;
  <code>
  onKeyUp($event) 	&#123;
    console.log($event.target.value);
  &#125;
  </code>    
</pre>
<b>Option-2: passing by #something</b>
<pre>
  &lt;input&gt; #email (keyup.enter)="onKeyUp(email.value)"/&gt;
  <strong>#email: is a referance to input field.</strong>
  <code>
  onKeyUp(email) 	&#123;
    console.log(email);
  &#125;
  </code>    
</pre>

<div class="row">
  <div class="col-4">    
    <p>option-1: <strong>{{ option1_data }}</strong></p>
  </div>  
  <div class="col-4">
    <p>option-2: <strong>{{ option2_data }}</strong></p>
  </div>
</div>        

<div class="row">
  <div class="col-4">    
    option-1: <input (keyup.enter)="onKeyUp1($event)"/>
  </div>  
  <div class="col-4">
    option-2: <input #email (keyup.enter)="onKeyUp2(email.value)"/>
  </div>
</div>  


  
  