<pre>
&lt;button <b style="color:red;">mat-button</b>&gt;Open Dialog&lt;/button&gt;
<p></p>
Backgroud color of a button is based on a theme.
&lt;button <b style="color:red;">mat-raised-button</b>&gt;Open Dialog&lt;/button&gt;
<p></p>
&lt;button 
  <b style="color:red;">color="primary"</b>
  mat-raised-button&gt;Primary&lt;/button&gt;
<p></p>
&lt;button 
  <b style="color:red;">color="accent"</b>
  mat-raised-button&gt;Accent&lt;/button&gt;
<p></p>
&lt;button 
  <b style="color:red;">color="warn"</b>
  mat-raised-button&gt;Warn&lt;/button&gt;  
<p></p>
 &lt;button <b style="color:red;">mat-fab</b>&gt;&lt;mat-icon>Check&lt;/mat-icon&gt;Fab&lt;/button&gt;  
</pre>

<div class="row">
  <button mat-button>Open Dialog</button>
  <button mat-raised-button>Open Dialog</button>
  <button color="primary" mat-raised-button>Primary</button>  
  <button color="accent" mat-raised-button>Accent</button>  
  <button color="warn" mat-raised-button>Warn</button> 
</div>
