<div class="row">
  <div class="col-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Add Service Form</h1>
      </div>    
      <div class="panel-body">
        <app-forms-service-add></app-forms-service-add>
      </div>
    </div>
  </div>
  
  <!-- <div class="col-6">
    <div class="panel panel-default" style="margin-right: 10px">
      <div class="panel-heading">
        <h1 class="panel-title">Template Driven Exercise</h1>
      </div>    
      <div class="panel-body">
        <app-form-exercise></app-form-exercise>
      </div>
    </div>
  </div> -->
</div>
