

<div class='pre-like'>
<h5><strong>Http Final Solution</strong></h5>
<ol>
  <li>All GRUD are in HttpService class</li>
  <li>Handle Unexpected Errors - server offline, network, execption </li>    
</ol>
</div>

<pre>
  Unexpected error: are handle by (error) function of the subscribe method.
  (<span class="code-keyword">error</span>: Response) => &#123;
    <span class="code-keyword">alert</span>('POST: An unexpected error occurred.');
    <span class="code-keyword">console</span>.log(error);
  &#125;);

  Adding Observable catch and throw

  Adding global error handling
</pre>

<input 
  [(ngModel)]="input"
  (keyup.enter)="createPost(title)" #title
  type="text" 
  class="form-control">

<ul class="list-group">
  <li 
    *ngFor="let post of posts; let i = index"    
    class="list-group-item">    
    {{ i }} 
    <button 
      (click)="deletePost(post)"
      class="btn btn-default btn-sm">Delete
    </button>
    <button 
      (click)="updatePost(post)"
      class="btn btn-default btn-sm">Update
    </button>
    {{ post.title }}
  </li>
</ul>

