<div class="row">
  <div class="col-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Angular Tutorial: Template Driven Form</h1>
      </div>    
      <div class="panel-body">
        <app-form-angular></app-form-angular>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="panel panel-default" style="margin-right: 10px">
      <div class="panel-heading">
        <h1 class="panel-title">Template Driven Exercise</h1>
      </div>    
      <div class="panel-body">
        <app-form-exercise></app-form-exercise>
      </div>
    </div>
  </div>
</div>
